{% extends 'base.html' %}

    {% block title %} Edit Song {% endblock %}

    {% block heading %}
        <h2 class="h2 display-2 text-center">{{ song.title }} - {{ song.artist }}</h2>
    {% endblock %}

    {% block content %}
        {% if form %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{{ url_for('edit', song_id = song.id) }}" method="POST">
                        <div class="mb-3">
                            {{ form.title.label }}
                            {{ form.title(class_="form-control", placeholder="New Title")}}

                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.artist.label }}
                            {{ form.artist(class_="form-control", placeholder="New Artist") }}

                            {% if form.artist.errors %}
                                {% for error in form.artist.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.year.label }}
                            {{ form.year(class_="form-control", placeholder="New Year") }}

                            {% if form.year.errors %}
                                {% for error in form.year.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.genre.label }}
                            {{ form.genre(class_="form-control", placeholder="New Genre") }}

                            {% if form.genre.errors %}
                                {% for error in form.genre.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {{ form.csrf_token }}

                        <div class="mb-3">
                            {{ form.submit(class_="btn btn-primary", value="Edit Song") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock %}